.projects-container {
    width: 100%;
    min-height: 100vh;
    background: #0d0d12;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

/* Heading Section */
.projects-header {
    max-width: 700px;
    text-align: center;
    margin-bottom: 60px;
}

.projects-header h1 {
    font-size: 42px;
    font-weight: 800;
}

.projects-header h1 span {
    color: #a855f7;
}

.projects-header p {
    font-size: 13px;
    color: #d6d6d6;
    margin-top: 10px;
}

/* PROJECT CARD */
.project-card {
    width: 100%;
    max-width: 900px;
    padding: 35px;
    border-radius: 22px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(14px);

    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.45);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-8px);
}

/* layout */
.project-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

@media (min-width: 900px) {
    .project-content-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 35px;
    }
}

/* IMAGE */
.project-img {
    width: 100%;
    height: auto;
    border-radius: 18px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.6);
    object-fit: cover;
}

@media (min-width: 900px) {
    .project-img {
        width: 45%;
        flex-shrink: 0;
        height: auto;
    }
}

/* TEXT SIDE */
.project-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

@media (min-width: 900px) {
    .project-text {
        width: 55%;
        flex: 1;
    }
}

.project-text h2 {
    font-size: 28px;
    font-family: "good vibes", cursive;
    font-weight: 700;
}

.project-text p {
    font-size: 15px;
    color: #e6c7c7;
}

/* TECH STACK */
.tech-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.tech-item {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 7px 14px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    font-size: 14px;
    color: #eaeaea;

    transition: transform 0.2s ease;
    cursor: default;
}

.tech-item:hover {
    transform: scale(1.08);
}

.tech-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #a855f7;
}

.tech-item img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}